<div class="center-align" style="margin-top: 15%;">
    <i data-field="icon" class="large blue-text"></i>
    <span data-field="label" class="blue-text" style="font-size: 2rem;"></span>
    <div data-field="message" class="blue-text" style="font-size: 1.4rem;"></div>
    <div data-field="id" class="blue-text" style="font-size: 1.4rem;"></div>
</div>